# WP
*.log
wp-config.php
/wp-content/languages
/wp-content/plugins
/wp-content/themes/*
/wp-content/index.php
/wp-admin
/wp-includes
/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
/index.php
/wp-*.php
/xmlrpc.php

#CHOOSEN THEME
!/wp-content/themes/accelerate
# OTHERS
/nbproject
